
   
  .dialog-title {
    font-size: 20px;
    font-weight: bold;
    
  }
  
  .dialog-form label {
    display: block;    
    font-weight: bold;
  }
  
  .dialog-form{
  width: 350px;
  padding: 0 40px 0 20px;
  margin-top: -10px;
  background-color: #fff;
 
  }

  .dialog-form input,
  .dialog-form select {
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dialog-form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 4px;
  }
  
  .dialog-form input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .dialog-form input[type="checkbox"] {
    margin-top: 5px;
  }
  
  .dialog-form input[type="checkbox"] + label {
    margin-left: 5px;
  }
  
  .dialog-form input[type="checkbox"]:checked + label::before {
    content: "✓";
  }
  
  .dialog-form br {
    line-height: 0;
  }
  