.editUserForm {
    width: 98%;
    padding: 10px;
    display: flex;    
    flex-direction: row;
}


.left {
    width: 30%;
    display: flex;        
    align-items: center;
    margin-top: 6%;
    margin-left: 10%;
    padding-right: 5%;
    flex-direction: column;
    
}

.divDescription{
    display: flex;
    flex-direction: column;    
    align-items: center;  
    
}

.divDescription p {
    margin-top: -5px;
}

.left img{
    padding-left: 10%;
    width: 80%;
    
}

.middle{
    width: 38%;    
}


.buttonUpdate {
    width: 100%;
    padding: 5px;
}

.buttonUpdate.primary {
    background-color: #1976D2; /* Purple color for primary button */
    color: #ffffff;
  }

  .buttonUpdate.primary:hover{
    background-color: #1565C0;
    color: #ffffff;
  }
  
  .buttonUpdate.secondary {
    background-color: #9C27B0; /* Purple color for secondary button */
    color: #ffffff;
  }

  .buttonUpdate.secondary:hover{
    background-color: #7B1FA2;
    color: #ffffff;
  }
  